<!DOCTYPE html>
<html lang="en">
<head>
<title>
    <%= generalInfo.companyNameShort %>
    <%= generalInfo.companyNameLong %>
</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
</head>
<body>
    <%- include('tiles/navbar.ejs') %>
    <%- include('tiles/header.ejs') %>

    <div class="w3-content w3-padding" style = "max-width:1564px">
        <%- include('tiles/products.ejs') %>
        <%- include('tiles/about.ejs') %>
    </div>
    <%- include('tiles/footer.ejs') %>
</body>
</html>